.place__button-like {
  margin: 0 17px 0 0;
  padding: 0;
  background: url(../../../images/heart.svg);
  border: none;
  width: 20.76px;
  height: 18.13px;
  object-fit: cover;
  box-shadow: none;
  cursor: pointer;
}

.place__button-like:hover {
  opacity: .6;
}
