.profile__edit-button {
  padding: 12px 12px;
  border: none;
  background: url(../../../images/edit\ button.svg);
  background-position: center;
  background-size: cover;
  margin-left: 17px;
  align-self: flex-end;
}

@media screen and (max-width: 450px) {
  .profile__edit-button {
    padding: 9px 9px;
    margin: 0;
  }
}