.profile__edit-button {
  padding: 12px 12px;
  border: none;
  background: url(../../../images/edit\ button.svg);
  background-position: center;
  background-size: cover;
  margin: 0;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  right: -45px;
  top: 37px;

}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 881px) {
  .profile__edit-button {
    padding: 9px 9px;
    right: 31px;
    top: 19px;
  }
}