.popup__container {
  display: block;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  padding: 34px 36px;
  min-width: 358px;
}

@media screen and (max-width: 430px) {
  .popup__container {
    min-width: calc(100% - 72px);
  }
}