.header__logo {
  max-width: 142px;
  margin-bottom: 40.25px;
}

@media screen and (max-width: 881px) {
  .header__logo {
    max-width: 103.84px;
    margin-bottom: 31.6px;
    margin-left: 27px;
  }
}