.popup__close {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 58px;
  box-shadow: none;
  cursor: pointer;
  background: url(../../../images/close.svg);
  padding: 29px 29px;
  border: none;
}

.popup__close:hover {
  opacity: .6;
}

@media screen and (max-width: 520px) {
  .popup__close {
    right: -10px;
  }
}